# Compiled Object files
*.slo
*.lo
*.o
*.aps

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.*/*

# Output folder(s)
/Debug_x64
/Debug
/Release
/Release_x32
/Release_x64

# User config
WinMTRGraph.vcxproj.user